@page
@model FormPageModel
@{

}
<div >
    
    <form >

        <div class="form-group">
            <label asp-for="Name">
                <span asp-validation-for="Name" class="small text-danger"></span>
            </label>
            NAME <input asp-for="Name" />


        </div>
        <div class="form-group">
            PHONE
            <input name="phone" /><br />
        </div>
        <div class="form-group">
            E-mail
            <input name="email" /><br />
        </div>
        <div class="form-group">
            Sex
            <select class="form-control" asp-items="@Html.GetEnumSelectList(typeof(Sex))"></select><br />
        </div>

        <div class="form-group"><input type="submit" asp-page-handler="Sub"/></div>


    </form>

    </div>


<div class="row">
    <div class="col-lg-1">
        <form method="post">
            <button asp-page-handler="edit"  class="btn btn-default">Edit</button>
        </form>
    </div>
    <div class="col-lg-1">
        <form method="post">
            <button asp-page-handler="delete"  class="btn btn-default">Delete</button>
        </form>
    </div>
    <div class="col-lg-1">
        <form  method="post">
            <button asp-page-handler="view" class="btn btn-default">View</button>
        </form>
    </div>
</div>
<h3 class="clearfix">@Model.Message</h3>